@model IEnumerable<Parkering>
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using mnacr22.Data
@inject UserManager<ApplicationUser> _userManager
@inject ApplicationDbContext _db
@{
    var applicationUser = await _userManager.GetUserAsync(User);
}

@{
    ViewBag.Title = "History";
    Layout = "_Layout";
}

<h1><strong>Parkingspot history</strong></h1>
<h2><strong>Your rented parkingspots</strong></h2>

@{
    IEnumerable<Parkering> test = _db.Parkerings.Where(x => x.Renter == applicationUser)
        .Include(c => c.Address).Include(d => d.Rentee);

    foreach (var park in test)
    {
        <div class="card-pp">
            <div><b>Street:</b> @park.Address.Street</div>
            <div><b>City:</b> @park.Address.City</div>
            <div><b>Zipcode:</b> @park.Address.ZiptCode</div>
            <div><b>Start time:</b> @park.StartTime</div>
            <div><b>End time:</b> @park.EndTime</div>
            <div><b>Vehicle:</b> @park.Car</div>
            <div><b>Payment recieved:</b> @park.PricePaid NOK</div>
            <div><b>Name of rentee:</b> @park.Renter.Firstname @park.Renter.Lastname</div>                                                                 
                                                                             
                @using (Html.BeginForm("Index", "Chat", FormMethod.Post))
                {
                    <div class="form-floating">
                        <input id="username" name="username" type="text" value="@park.Renter.Email" class="form-control" hidden/>
                        <span class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="card-button">Send a message to the rentee</button>
                }
        </div>
    }
}