@using mnacr22.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _db
@{
    ViewBag.Title = "Success";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
</head>
<body>
<section>
  <p>
    We appreciate your business! If you have any questions, please email
    <a href="mailto:orders@example.com">mnacr22@privatepark.com</a>.
    <a></a>
    <div>Information about booked parkingspot:</div>
    <p></p>
    @{
      int parkId = ViewBag.ParkId;

      var park = _db.Parkerings.FirstOrDefault(a => a.Id == parkId);
      
      <div class="card-pp">
        <div><b>Street:</b> @park.Address.Street</div>
        <div><b>City:</b> @park.Address.City</div>
        <div><b>Zip:</b> @park.Address.ZiptCode</div>
        <div><b>Renter:</b> @park.Renter.Firstname @park.Renter.Lastname</div>
        <div><b>Rented from:</b> @park.StartTime</div>
        <div><b>Rented until:</b> @park.EndTime</div>
        <div><b>Price paid:</b> @park.PricePaid NOK</div>
        <div><b>Vehicle:</b> @park.Car</div>
      </div>
    }
  </p>
  @{
    if (park.Renter != park.Rentee)
    {
      @using (Html.BeginForm("Index", "Chat", FormMethod.Post))
      {
        <div>Have any questions about your booked parkingspot?</div>
        <input id="username" name="username" type="text" value="@park.Renter.Email" class="form-control" hidden/>
        <span class="text-danger"></span>
        <button id="update-profile-button" type="submit" class="card-button">Send a message to the renter</button>
      }
    }
  }
</section>
</body>
</html>