@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Identity
@using mnacr22.Areas.Identity.Pages.Account.Manage
@model YourAddresses
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Manage your address";
    ViewData["ActivePage"] = ManageNavPages.YourAddresses;
}

<h3>@ViewData["Title"]</h3>


@foreach (var user in Model.DisplayAddresses)
{
    <div class="row">
        <div class="col-md-6">
            <form id="edit-Address-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" readonly></div>
                <div><input type="hidden" value="@user.Id" asp-for="Input.Id" readonly/></div>
                <div class="form-floating">
                    <input asp-for="Input.Street" value="@user.Street" class="form-control" readonly/>
                    <label asp-for="Input.Street" class="form-label" readonly></label>
                    <span asp-validation-for="Input.Street" class="text-danger" readonly></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ZiptCode" class="form-control" value="@user.ZiptCode" readonly/>
                    <label asp-for="Input.ZiptCode" class="form-label" readonly></label>
                    <span asp-validation-for="Input.ZiptCode" class="text-danger" readonly></span>
                </div>
                
                <div class="form-floating">
                    <input asp-for="Input.City" class="form-control" value="@user.City" readonly/>
                    <label asp-for="Input.City" class="form-label" readonly></label>
                    <span asp-validation-for="Input.City" class="text-danger" readonly></span>
                </div>
                
                @if (user.Active == false)
                {
                    <input id="activate-as-parkingspot" type="submit" class="w-100 btn btn-lg btn-primary" name="buttonType" value="Activate"/> 
                }
                else
                {
                    <input id="activate-as-parkingspot" type="submit" class="w-100 btn btn-lg btn-primary" name="buttonType" value="Deactivate"/>
                }
                
                <input id="delete-profile-button" type="submit" class="btn-danger" name="buttonType" value="Delete"/>
            </form>
            <div><p></p></div>
        </div>
    </div>
}